html,
body,
#app
  height: 100%
  width: 100%

body
  font-family: 'Inter', sans-serif
  background-color: var(--background-default)
  color: var(--color-default)
  line-height: 1.2

.container
  max-width: 1312px

.page
  padding: 0 24px

.heading-1
  font-size: 36px
  font-weight: 800
  margin-bottom: 40px

.heading-2
  font-size: 28px
  font-weight: 700
  margin-bottom: 34px

.faded-in
  animation: fadeIn 1.5s ease

.number-circle
  display: inline-flex
  justify-content: center
  align-items: center
  border: 1px solid black
  height: 32px
  width: 32px
  border-radius: 50%
  color: red
  margin-right: 2px
  font-size: 26px

.card-list
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 40px 32px

  &:not(:last-child)
    margin-bottom: 64px

  @media screen and (max-width: $breakpointTablet)
    grid-template-columns: 1fr 1fr

  @media screen and (max-width: $breakpointMobile)
    grid-template-columns: 1fr